<template>
  <tr>
    <td></td>
    <td><input type="text" v-model="newTask.name"></td>
    <td><input type="text" v-model="newTask.description"></td>
    <td>
      <Datepicker 
        v-model="newTask.estimatedDate"
        format="dd.MM.yyyy"
        :disabled-dates="disabledDates"
        monday-first/>
    </td>
    <td></td>
    <td></td>
    <td>
      <button 
        v-if="newTask.editable"
        type="button" 
        class="button-primary"
        @click="updateTask({ task: newTask, index })">
        Сохранить  
      </button>
      <button 
        v-else
        type="button" 
        class="button-primary" 
        @click="handleNewTask">
        Создать  
      </button>
    </td>
  </tr>
</template>

<script>
import { mapActions } from 'vuex';
import Mixins from '../shared/mixins';
import Datepicker from 'vuejs-datepicker';

import { ADD_TASK, UPDATE_TASK } from '../store';

export default {
  props: {
    task: { type: Object },
    index: { type: [String, Number]}
  },
  components: {
    Datepicker,
  },
  data() {
    return {
      newTask: this.getEmptyTask(),
      disabledDates: {
        to: new Date()
      }
    }
  },
  created() {
    if (this.task) {
      this.newTask = this.task;
    }
  },
  methods: {
    ...mapActions({
      addTask: ADD_TASK,
      updateTask: UPDATE_TASK,
    }),
    handleNewTask() {
      this.addTask(this.newTask);
      this.newTask = this.getEmptyTask();
    }
  },
  mixins: [Mixins]
}
</script>
