<template>
  <tr>
    <td>{{ index + 1 }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.estimatedDate | date }}</td>
    <td><span v-if="task.completeDate">{{ task.completeDate | date }}</span></td>
    <td>{{ status }}</td>
    <td class="controls">
      <span 
        v-if="!task.completeDate"
        title="Отметить как выполненую"
        class="pointer"
        @click="setComplete(index)">
        <i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>
      </span>
      <span
        v-if="!task.completeDate"
        title="Редактировать"
        class="pointer"
        @click="setEditable(index)">
        <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
      </span>
      <span 
        title="Удалить"
        class="pointer"
        @click="deleteTask(task.id)">
        <i class="fa fa-2x fa-trash" aria-hidden="true"></i>
      </span>
    </td>
  </tr>
</template>

<script>
import Mixins from '../shared/mixins';
import { mapActions } from 'vuex';

import { DELETE_TASK, SET_COMPLETE, SET_EDITABLE } from '../store';
 
export default {
  props: {
    task: { type: Object, required: true },
    index: { type: [String, Number], required: true }
  },
  methods: {
    ...mapActions({
      deleteTask: DELETE_TASK,
      setComplete: SET_COMPLETE,
      setEditable: SET_EDITABLE,
    }),
  },
  computed: {
    status() {
      const { estimatedDate, completeDate } = this.task;
      if (!completeDate) {
        return 'В работе';
      } else {
        return completeDate > estimatedDate  ? 'Просрочена' : 'Выполнена';
      }
    }
  },
  mixins: [Mixins]
}
</script>

<style scoped>
  .controls span {
    margin-right: 15px;
  }
  .pointer {
    cursor: pointer;
  }
</style>
