<template>
  <div class="container-fluid">
    <table>
      <thead>
        <th>#</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Выполнить до</th>
        <th>Исполнена</th>
        <th>Статус</th>
        <th>Управление</th>
      </thead>
      <tbody>
        <template v-for="(task, index) in taskList">
          <Task 
            v-if="!task.editable" 
            :key="index" 
            :task="task"
            :index="index"
          />
          <HandleTask 
            v-else
            :key="index"
            :task="task"
            :index="index"
          />
        </template>
        <HandleTask/>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { TASK_LIST_GETTER } from './store';
import Task from './components/Task';
import HandleTask from './components/HandleTask';

export default {
  components: {
    Task,
    HandleTask
  },
  computed: {
    ...mapGetters({
      taskList: TASK_LIST_GETTER
    })
  }
}
</script>

<style scoped>
  table {
    width: 100%;
  }
</style>
